.workout-date-header {
	border:1px solid #cccccc;
	border-radius: 5px;
	padding:5px;
}

.workout-date-header span{
	font-size:24px;
	font-family:arial;
}
.workout-date-header input{
	float:right;
}

.workout-set {
}

.workout-set-remove {
	
}

.workout-input {
	width:50px;
}
.workout-set-title{
	margin-bottom:10px;
}
.workout-sets {
	margin-left:10px;
}
